{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
<style>
    .semua{
        height:100vh;
    }
</style>
{% endblock meta %}

{% block content %}
<div class="bg-dark text-white semua">
<div class="p-3 mb-2 bg-danger text-white">
    <h1 class="display-4 text-center">Login</h1>
</div>
     
    <form method="POST" action="">
        {% csrf_token %}
                <h3>Username: </h3>
                <input type="text" name="username" placeholder="Username" class="form-control">
                <h3>Password: </h3>
                <input type="password" name="password" placeholder="Password" class="form-control">
                <br>
                <div class="d-flex justify-content-center">
                <input class="btn btn-primary" type="submit" value="Login">
                </div> 
    </form>
    

    {% if messages %}
            {% for message in messages %}   
            <br>
               <h5 class="text-center"> {{ message }}</h5>
            {% endfor %}
    {% endif %}     
        <br>
        <div>
        <nav class="navbar fixed-bottom navbar-light bg-secondary text-white">
       <h5>Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a></h5>
    </nav>
    </div>

</div>

{% endblock content %}