{% extends 'base.html' %}

{% block content %}

<h1>Tugas PBP 4</h1>

<h3>Welcome, {{request.user.username.title }}</h3>

<table>
    <tr>
        <th>User</th>
        <th>Date</th>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
    </tr>
    {% for i in user_data %}
    <tr>
        <th>{{i.user}}</th>
        <th>{{i.date}}</th>
        <th>{{i.title}}</th>
        <th>{{i.description}}</th>
        <th>
        {% if i.is_finished %}
        Selesai
        {% else %}
            Belum selesai
        {% endif %}
        </th>

        <th>
        {% if i.is_finished %}
        <button><a href="{% url 'todolist:finishedtask' i.id %}">Not Finished?</a></button>
        {% else %}
        <button><a href="{% url 'todolist:finishedtask' i.id %}">Finished?</a></button>
        {% endif %}
        </th>
        <th><button><a href="{% url 'todolist:deletetask' i.id %}">Delete</a></button></th>
    </tr>
    {% endfor %}
</table>
<button><a href="{% url 'todolist:createtask' %}">Tambah Task Baru</a></button>
<button><a href="{% url 'todolist:logout' %}">Logout</a></button>
{% endblock content %}
