{% extends 'base.html' %}

{% block content %}

<h1>Tugas PBP 4</h1>

<h3>Welcome, {{request.user.username.title }}</h3>

<table>
    <tr>
        <th>User</th>
        <th>Date</th>
        <th>Title</th>
        <th>Description</th>
    </tr>
    {% for i in user_data %}
    <tr>
        <th>{{i.user}}</th>
        <th>{{i.date}}</th>
        <th>{{i.title}}</th>
        <th>{{i.description}}</th>
    </tr>
    {% endfor %}
</table>
<button><a href="{% url 'todolist:createtask' %}">Tambah Task Baru</a></button>
<button><a href="{% url 'todolist:logout' %}">Logout</a></button>
{% endblock content %}
