{% extends 'base.html' %}

 {% block content %}

  <h1>Tugas 3 PBP -- MyWatchList</h1>

  <h5>Name: </h5>
  <p>{{Name}}</p>

  <h5>Student ID: </h5>
  <p>{{ID}}</p>

  <table>
    <tr>
      <th>watched</th>
      <th>title</th>
      <th>rating</th>
      <th>release_date</th>
      <th>review</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for item in list_film %}
    <tr>
        <th>{{item.watched}}</th>
        <th>{{item.title}}</th>
        <th>{{item.rating}}</th>
        <th>{{item.release_date}}</th>
        <th>{{item.rating}}</th>
        <th>{{item.review}}</th>
    </tr>
{% endfor %}
  </table>

 {% endblock content %}
